<div class="jumbotron">
  <h1 class="display-4">Faculty - Student Management System</h1>
  <p class="lead">
    Click the button below to view the list of Teachers available
  </p>
  <hr class="my-4" />
  <p class="lead">
    <a href="/teachers" class="btn btn-primary btn-lg">Teachers</a>
  </p>
</div>