<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HomePage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {{#if (ifEquality title "teacher Details")}}active{{/if}}">
        <a class="nav-link" href="/teachers">Teachers {{#if (ifEquality title "teacher Details")}}<span
            class="sr-only">(current)</span>{{/if}}</a>
      </li>
      <li class="nav-item {{#if (ifEquality title "Add Teacher")}}active{{/if}}">
        <a class="nav-link" href="/add-teacher">Add Teachers {{#if (ifEquality title "Add Teacher")}}<span
            class="sr-only">(current)</span>{{/if}}</a>
      </li>

    </ul>
  </div>
</nav>